<h1>Dashboard</h1>
{{#if user}}

  <p>There's totally a User here!</p>
  <p>
    {{user}}
  </p>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) {
    $.ajax({
      url: '/api/users/{{ user._id }}',
    })
    .done(function( data, textStatus, jqXHR ) {
      console.log(data);
    });
  });
</script>

{{else}}

  <p>
    There's not a user here for some reason.
  </p>

{{/if}}
